#peak {
  width: 30px;
  height: auto;
}

#nav {
  margin-bottom: 25px;
}

.h1 {
  margin-bottom: 30px;
}

.top {
  padding-top: 40px;
}
.login_button{
  padding-top: 30px;
}

.input-group {
  margin-top: 40px;
}


.card {
  margin-top: 40px;
  padding: 20px 20px 20px 20px;
  border-color: #92CBFE;
}

.card .card_category {
  border-color: #92CBFE;
  padding: 0px 0px 0px 0px;
}

.card .card-title {
  text-align: center;
}

.card-columns {
  column-count: 4;
  }
