body {
    margin:0;
    padding:0;
    background-color: #92CBFE;
    background-size: cover;
}

*{
  font-family: 'Arimo', sans-serif;
}

#peak {
  width: 30px;
  height: auto;
}

.mt_bg {
  background-image: url(http://artist4hire.com/web/wallpapers/blue-mountains/2560x1600.jpg);
  background-size: cover;
}

h1 {
  padding-top: 40px;
	font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}

.top {
  padding-top: 40px;
}

.login_button{
  padding-top: 30px;
}

.input-group {
  margin-top: 40px;
  text-align: center;
}


.card {
  margin-top: 40px;
  padding: 20px 20px 20px 20px;
  border-color: #4D4D4D;
  border-width: 2px;
  background-color: #ECEEEF;
}

.list-group .list-group-flush {
  border-color: #4D4D4D;
  background-color: #ECEEEF;
}
.card .card_category {
  border-color: #4D4D4D;
  padding: 0px 0px 0px 0px;
}

.card .card-title {
  text-align: center;
}

.card-columns {
  column-count: 4;
  }

#in1 {
  Width = 100%;
  height = auto
}

.form-group {
  line-height: 15px;
}
