{% extends "base.html" %}


<head>
<title>
{% block title %}Register for Peak{% endblock %}
</title>
</head>

{% block body %}
<body>
<div class="container">
  <div class="col-md-3"></div>

    <div class="col-md-6">
<div class="center">
        <form method=POST>

              <h1> Register for Peak Classifier </h1>
          {% csrf_token %}
          {% for field in userform %}
            <div class="fieldWrapper">
             {{ field.errors }}
             {{ field.label_tag }}<br /> {{ field }}
             {% if field.help_text %}
               <p class="help">{{ field.help_text|safe }}</p>
             {% endif %}
            </div>
          {% endfor %}
       <button type='submit' class="btn btn-primary">Create New Account</button>
        </form>

      <div class="login_button">
   <p> Already have an account?<a href="{% url 'login_user' %}" class="btn btn-link"> Log in.</a></p></div>
      </div>
        </div>
    </div>

  </div>
</body>
{% endblock %}
