{% load static %}
<!DOCTYPE html>
<html>

<head>
  <title>
  {% block title %}Welcome to Peak{% endblock %}
  </title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css" integrity="sha384-MIwDKRSSImVFAZCVLtU0LMDdON6KVCrZHyVQQj6e8wIEJkW4tvwqXrbMIya1vriY" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <nav id="nav" class="navbar navbar-dark bg-inverse">
      <ul class="nav navbar-nav">
        <a class="navbar-brand"><img id="peak" src='{% static 'img/mountain-peak-logo-no-clouds-hi.png' %}'></a>
        <a class="navbar-brand" href="{% url 'index' %}">Peak Classifier</a>
      </ul>
        <ul class="nav navbar-nav pull-xs-right">
            {% if user.is_authenticated %}
              <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">logout</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'classifier' user.pk %}">welcome, {{ user.username }}</a></li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login_user' %}">log in</a></li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'register_user' %}">sign up</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    <div class="container">

      <div>
      {% if user.is_authenticated %}
      <!-- If on classifier sub pages? -->
        {% if classifier %}
        <ul class="breadcrumb">
            <li><a href="{% url 'classifier' user.pk %}">Classifiers</a></li>
            <li><a href="{% url 'category' classifier.id %}">Categories</a></li>
            <li><a href="{% url 'text_input' classifier.id %}">Text Input</a></li>
            {% if classifier.pipeline %}
            <li><a href="{% url 'predict' classifier.id %}">Predict</a></li>
            {% endif %}
        </ul>
        {% endif %}
      {% endif %}
      </div>
    {% block body %}
    {% endblock %}
<footer class="footer"></footer>
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/js/bootstrap.min.js"></script>
<script src="{% static 'js/jquery-bootstrap-modal-steps.js' %}"></script>
<script type="text/javascript" scr="{% static 'js/style.js' %}"></script>
{% block scripts %}{% endblock %}
</body>

</html>
