{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>

</head>

<body>
    <nav class="navbar navbar-dark bg-inverse">
        <a class="navbar-brand" href="{% url '/' %}"><img class='pull-link-left' id='peak' src='{% static ' img/mountain-peak-logo-no-clouds-hi.png ' %}'></a>
        <h3> Peak Classifier </h3>
        <ul class="nav navbar-nav pull-xs-right">
            {% if user.is_authenticated %}
              <li class="nav-item-l"><a class="nav-link" href="{% url 'logout' %}">logout</a></li>
              <li class="nav-item-l"><a class="nav-link" href="{% url 'profile_detail' user.pk %}">welcome, {{ user.username }}</a></li>
            {% else %}
            <li class="nav-item-l">
                <a class="nav-link" href="{% url 'login' %}">log in</a></li>
            <li class="nav-item">
                <a class="nav-link-l" href="{% url 'register' %}">sign up<span class="sr-only">(current)</span></a>
            </li>
            {% endif %}
        </ul>
    </nav>


</body>

</html>
