{% extends "base.html" %}

<head>
  <title>
    {% block title %}Classifier {% endblock %}
  </title>
</head>

{% block body %}
<body>
  <div class="container">
    <div class="col-md-6 col-centered">
      <h1 class="top text-xs-center">{{ classifier.name }}</h1>
    <div class="input-group">
        <form class="form-inline" action="" method="post">
          {% csrf_token %}
          <div class="form-group">
            <input type="text" class="form-control" name="category-name" placeholder="Category Name...">
          </div>
          <button class="btn btn-default" type="submit">Create!</button>
        </form>
      </div>

      <div class="card">
        <ul class="list-group list-group-flush">
          {% for category in categories %}
            <li class="list-group-item">{{ category.name }}</li>
          {% endfor %}
        </ul>
      </div>

    </div>
  </div>

<div class="container">


</div>


</body>
{% endblock %}
