{% extends "base.html" %}

<head>
  <title>
    {% block title %}Classifier {% endblock %}
  </title>
</head>

{% block body %}

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="input-group">
          <form class="form-inline" action="" method="post">
            {% csrf_token %}
            <div class="form-group">
              <input type="text" class="form-control" name="classifier-name" placeholder="Create a Classifier">
            </div>
            <button class="btn btn-primary" type="submit">Create!</button>
          </form>
        </div>
      </div>
      </div>
    </div>
    <br>
<div class="container">
  <div class="card-columns">
    {% for classifier in classifiers %}
      <div class="card">
        <div class="card-block">
          <h3 class="card-title">{{ classifier.name }}</h3>
        </div>
        <!-- <ul class="list-group list-group-flush">
          {% for category in classifier.category_set.all %}
            <li class="list-group-item text-xs-center">{{ category.name }}</li>
          {% endfor %}
        </ul> -->
        <div class="dropdown">
  <button class="dropbtn">Has Categories...</button>
  <div class="dropdown-content">
    {% for category in classifier.category_set.all %}
      <li class="list-group-item text-xs-center">{{ category.name }}</li>
    {% endfor %}
  </div>
</div>
        <div class="text-xs-center">
          <div class="btn-group">
            <a href="{% url 'category' classifier.id %}"><button class="btn btn-primary">Category</button></a>
            <a href="{% url 'text_input' classifier.id %}"><button class="btn btn-primary">Sample</button></a>
            <a href="{% url 'predict' classifier.id %}"><button class="btn btn-primary">Predict</button></a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
