<h1>How to make your own classifier</h1>


(Picture of text typed in and create button)
<p>The first step to get started is to create a classifier.</p>

(Picture of classifier card with Category and Sample button)
<p>Then one can click on Category and add the category labels they wish to use.</p>

(Picture of page with two categories filled)
<p>Here you can add your categories as desired. When finished, click on Text Input at the top</p>

(Picture of Training time section with input text and category selected)
<p>Now simply add input text and select a category and click submit to begin training your classifier</p>

(Picture of file upload section)
<p>You can also upload a CSV file with your desired input data. See the example layout for details.</p>

(Picture of Train button below file upload section)
<p>When finished, click Train to begin training your classifier model!</p>

(Picture of Predict page)
<p>Now you can see how your model fares by inputting text and selecting predict
to see if it guesses the correct label! The more samples used, the better the prediction!<p>
