{% extends "base.html" %}
{% load static %}

<head>
  <title>
    {% block title %}Predict{% endblock %}
  </title>
</head>

{% block body %}
<div class="container">
  <h1>Predict </h1>
<div class="form-group" id="row1">
  <form method="post" action="">
    {% csrf_token %}
    <input class="form-control form-control-lg" name="predict-text" type="text" placeholder="Enter text here..."></input>
    <div class="a_right">
      <button class="btn btn-ded" type="submit">Predict!</button>
    </div>
  </form>
  {% if prediction %}
    {{ prediction }}
  {% endif %}
</div>
</div>

</div>

{% endblock %}
