{% extends "base.html" %}
{% load static %}

<head>
  <title>
    {% block title %}Trainer{% endblock %}
  </title>
</head>

{% block body %}
<div class="container">
  <h1>Training Time! </h1>
<div class="card">
<div class="form-group">
  <form method="post" action="">
    {% csrf_token %}
    <input class="form-control form-control-lg" id="sample-input-box" row="3" type="text" name="sample-text" placeholder="Enter training text for {{ classifier.name }}..." required></input>
    <label for="">Select Category</label>
    <select class="form-control" name="category" required>
      {% for category in categories %}
        <option>{{ category.name }}</option>
      {% endfor %}
    </select>
    <div class="a_right">
      <input class="btn btn-primary" type="submit">
    </div>
  </form>
  <h3>OR</h3>
  <div class="center">
    <input type="file" id="my_file">
  </div>
</div>
</div>
</div>

{% endblock %}
